.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.container-wrapper {
    margin-top: 40px;
    text-align: center;
    padding: 0 50px;
}

.container-wrapper .section1 img {
    height: 140px;
    width: 140px;
}

@media (min-width: 1200px) {
    .navbar-wrapper {
        margin: 20px 60px;
    }
}

.carousel-caption {
    text-align: left;
    margin-bottom: 50px;
    margin-left: -60px;
}

@media (max-width: 767px) {
    .carousel-inner .item img {
        height: 270px;
    }

    .carousel-caption {
        text-align: center;
        margin: 0;
    }

    .carousel-caption p {
        display: none;
    }

    .carousel-caption h1 {
        font-size: 22px;
    }
}

@media (max-width: 991px) {
    .section2 img{
        width: 140px;
        height: 140px;
    }
}

.section2 .texts {
    text-align: left;
    margin-top: 10%;
}

.section2 span {
    color: gray;
}

.section2 p {
    font-size: 18px;
    line-height: 1.5
}

footer {
    height: 100px;
    padding: 30px;
}